server:
  port: 8080


spring:
 application:
    name: ruiji
 datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ruiji
    username: root
    password: 123456
 servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
        


mybatis:
 configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true


ruiji:
  path: D:/internet-of-t/JAVA_Web/stage6/ruiji/src/main/resources/img/